<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->

  <variable name="logDirectory" value="${basedir}/logs/${level}/${shortdate}" />
  
  <!--配置参数参考：https://github.com/nlog/nlog/wiki/File-target#size-based-file-archival-->
  
  <!-- the targets to write to -->
  <targets async="true">
    <!--${event-properties:item=EventId_Id}|${uppercase:${level}}|-->
    <!-- write logs to file  -->
    <target xsi:type="File" name="ErrorFile" fileName="${logDirectory}/${level}.log" archiveAboveSize="1024000"
            layout="${longdate}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="InfoFile" fileName="${logDirectory}/${level}.log" archiveAboveSize="1024000" 
            layout="${longdate}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" levels="Warn,Error,Fatal" writeTo="ErrorFile" />

    <logger name="*" levels="Trace,Debug,Info" writeTo="InfoFile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" maxLevel="Info" final="true" />-->
    <!-- BlackHole without writeTo -->
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>